
.documentation-content-form{
    width: 100%;
    height: 400px;
}
.documentation-content-left-50{
    float: left;
    width: 50%;
}
.documentation-content-right-50{
    float:left;
    width: 50%;
}


button#boardbutton{
    width: 260px;
    display: block;
    margin-top: 5px;
}


#myImage{
    display: inline-flex;
    margin: 0px;
    width: 100%;
    height: auto;
}
