a{
    text-decoration:none;
    color: black!important;
}
a:hover{
    color: darkblue;
}
hr.sectionbreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.container{
    width: 100%!important;
    /*padding-left: 15%!important;
    padding-right: 15%!important;*/
}
.main-wrapper{

}

.title-container{
    width: 100%;
    height: 5%;
    display: inline-block;
    text-align: center;
}
.title-content{
    /*padding-left:5%;
    padding-right: 5%;*/
}

#bio{
    text-align: center;  
}

#subtext{
  font-size: 1.5em;
  font-family: Courier;
}

.maincontent-wrapper{
    /*height: auto;*/
}

.documentation-wrapper{
    /*display: flex;
    height: auto;*/
}
.documentation-container{
    height: auto;
    width: 100%;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
.documentation-content{
    margin: auto;
    /*margin-bottom: 2%;*/
    width: 100%;
    /*display: inline-block;*/
    justify-content: center;
    text-align: center;
}

.image-container{
    /*float: left;*/
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #e0e0d1;
    margin: 5px;
    padding-top: 5px;
    /*align-content: center;*/
}

#applogo{
  font-size:60px
}

.bio-wrapper, .info-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  width: 100%;

}
.bio-container, .info-container{
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}
