/* CSS - style.css */

*{
    padding:0;
    margin:0;
}

#twitterboard, #twitter-likes, #interest1, #interest2, #interest3, #interest4, h1{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

h2{
    font-size: 1.3em;
    color: grey;
}

#blog-wrapper{
    padding: 50px;
}

#feature-content{
    position: relative;
    display: inline-flex;
    width: 700px;
    height: 500px;
    background-color: #f0f0f0;
    margin: 10px;
}

#footer{
    clear: both;
    float: left;
    background: #ddd;
    width: 100%;
    height: 100px;
}

#header{
    display:inline-flex;
    margin: 10px 0 0 0;
    width: 100%;
    height:150px;
}

.hometitle{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-left: 30px;
}

#hometitle{
    font-family: 'Indie Flower', cursive;
    font-size: 50px!important;
}

#hometitle_submsg{
  font-family: 'Indie Flower', cursive;
  font-size: 30px!important;
}

#interest1, #interest2{
  text-align: center;
  vertical-align: top;
  margin-top: 60px;
  height: 70%!important;
}

#interest3, #interest4{
  position: relative;
  vertical-align: top;
  text-align: center;
  height: 100%!important;
  width: 100%;
  padding-top: 80px;
}


#item-list{
    display: inline-flex;
    width: 200px;
    height: 500px;
    background-color: #f0f0f0;
}

#logo{
    background: url('img/radish.png') no-repeat;
    background-size:contain;
    width: 100%;
    height: 300px;
    margin: 5px 5px 5px 5px;
    background-position: center center;
    align-items: center;
}

#main_content{
    float:left;
    background: #f0f0f0;
    margin: 10px 5px 10px 0;
    width: 100%;
    height: 630px;
}

#menu-logo{
    background: url('images/radish.png') no-repeat;
    background-size:contain;
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    padding-top: 0;
    background-position: center center;
    align-items: center;
    border-style: none!important;
    float: right;
    z-index: -1!important;
}

#myMenu{
    display: inline-block;
    z-index: 9999;
    position: fixed;
}

#myMenu li{
    float: left;
    display: inline;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

#myMenu a{
    color: #000;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
/*#sidebar{
    float:right;
    margin: 10px 5px 5px 6px;
    background: #ccc;
    width:24%;
    height: 630px;
}*/

#twitterboard{
    float: left;
    padding-left: 10%!important;
    padding-top: 0;
    padding-bottom: 10%;
    padding-right: 3%;
 }

#twitter-likes{
    float: right;
    padding-left: 3%;
    padding-top: 0;
    padding-bottom: 10%;
    padding-right: 10%!important;

}

#twitterboard, #twitter-likes{
    margin-top:70px;
    width: 35%!important;
    height: 70%!important;
    text-align: center;
}


/*#wrapper{
    width: 95%;
    margin: 0 auto;
}*/
