#gitbook{
  background: #FF5733;
  color: #f0ffff;
}

#healthapp{
  background: #ff0000;
  color: #f0ffff;
}

#bioapp{
  background: #4169e1;
  color: #f0ffff;
}

#samplinggame{
  background: #800080;
  color: #f0ffff;
}

#boardvolume{
  background: #191970;
  color: #f0ffff;
}

#surfmaps{
  background: #ff8c00;
  color: #f0ffff;
}

#virtualecologist{
  background: #228b22;
  color: #f0ffff;
}

#citationmanager{
  background: #daa520;
  color: #f0ffff;
}

#biocornerapps{
  background: #4b0082;
  color: #f0ffff;
}
